@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet');

.home {
  .home__header {
    position: relative;
    margin-top: 64px;

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: black;
      opacity: 0.35;
    }
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      object-position: 50% 10%;
      display: block;
    }

    h2 {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .cover {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
  }

  .about, .join, .contact {
    padding: 50px 15%;
    line-height: 1.4;
  }
  
  .about { 
    p:first-child {
      margin-top: 30px;
    }

    img {
      height: 400px;
      margin: 25px 50%;
      transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .join {
    background: rgba(33, 2, 2, 0.02);
    
    .join__title {
      font-weight: 600;
      font-size: 20px;
      color: #9B1919;
      margin: 15px 0;
    }

    .join__subtitle {
      font-weight: 600;
    }

    .join__text {
      margin-bottom: 15px;
    }
  }

  .contact {
    text-align: center;
    
    .contact__icons {
        display: inline-block;
        height: 20px;
        margin-top: 20px;
        
        .facebook, .youtube, .mail { 
            height: 100%; 
            width: auto; 
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .contact__text {
        text-align: center;
        margin: 20px 0;
        font-size: 18px;

        .email {
            color: #d81717;
            text-decoration: underline;
        }
    }
  }
}