// Write styling for other pages in separate files, i.e. about.scss
// Then import those files here. 
// This scss file will be compiled to index.css.
// index.css is imported in index.js and will apply styles to everything.
@import "PhotoGrid.scss";
@import "Multimedia.scss";
@import "Home.scss";

html, body {
    margin: 0;
    padding: 0;
    color: #2d2d2d;
}

.container {
	margin-top: 75px;
}