@import "section.scss";

.multimedia {
  .content {
    margin-top: 35px;
  }

  @media (min-width: 769px) {
    .page-header-container {
      width: 75%;
      margin-left: 25%;
    }
    .page-description {
      margin-left: 25%;
    }
  }
  
  @media(max-width: 768px) {
    .menu-container {
      display: none;
    }

    .section {
      display: block;
      width: 100%;
      float: none;
    }
  }
}