@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

* {
  font-family: "Raleway", "serif";
}

nav {
  height: 64px;
  width: 100%;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.ftd-logo {
  height: 60px;
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 30px;
}

.menu {
  margin: 20px 30px;
  position: absolute;
  right: 0;

}

a {
  text-decoration: none;
  margin: 0 10px;
}

a:visited {
  color: inherit;
}

.selected:visited {
  color: darkred;
}