.ftd-logo {
  height: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-right: 30px;

  li {
    margin: 0 20px;
  }

}

a {
  text-decoration: none;
  margin: 0 10px;
}

a:visited {
  color: inherit;
}

a:active {
  color: darkred;
}