$red_theme: #9b1919;
$white: #ffffff;

.menu-container {
  width: 25%;
  margin-top: -11px;
  background-color: $red_theme;
  height: calc(100vh - 64px);
  float: left;
  position: fixed;

  .side-menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ddd;

      a {
        margin: 0;
        padding: 0;
        text-decoration: none;

        .side-menu-item {
          margin: 0;
          padding: 0;
          color: $white;
          text-transform: uppercase;
          padding: 20px;
          background-color: $red_theme;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
        
        .side-menu-item:hover {
          background-color: #aa3c3c;
        }
      }
    }
  }
}