.photo__container {
  position: relative;
  width: 30%;
  display: inline-block;
  margin-right: 2%;
  vertical-align: top;
  margin-bottom: 1%; }
  @media (max-width: 1150px) {
    .photo__container {
      height: 35%;
      margin-bottom: 0.5%; } }
  @media (max-width: 1000px) {
    .photo__container {
      height: 35%;
      margin-bottom: 3%; } }
  @media (max-width: 905px) {
    .photo__container {
      width: 30%;
      padding-bottom: 3%; } }
  @media (max-width: 800px) {
    .photo__container {
      width: 40%;
      margin-left: 4.5%;
      padding-bottom: 2%;
      margin-top: 3%; } }
  @media (max-width: 500px) {
    .photo__container {
      width: 95%;
      margin-top: 3%;
      margin-bottom: 5%;
      margin-left: 0.020%; } }
  .photo__container .photo {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3%; }
  .photo__container .photo__name {
    position: relative;
    text-align: center;
    font-weight: bold; }
  .photo__container .photo__description {
    text-align: center; }

.photogrid {
  margin-left: 5%;
  padding-top: 1.5%; }

.section {
  box-sizing: border-box;
  width: 75%;
  float: right;
  display: inline-block;
  vertical-align: top;
  padding: 30px; }
  .section .section__title .title {
    line-height: 1.4;
    text-transform: uppercase;
    font-size: 36px; }
  .section .section__title .underscore {
    margin-top: 5px;
    width: 125px;
    height: 2px;
    background: #9b1919; }
  .section .section__description {
    margin-top: 10px;
    height: 315px; }
    .section .section__description .section__description--text {
      width: calc(40% - 15px);
      margin-right: 15px;
      display: inline-block;
      float: left;
      vertical-align: top;
      line-height: 1.4;
      font-size: 18px; }
    .section .section__description .section__description--video {
      width: calc(60% - 15px);
      max-width: 600px;
      height: 100%;
      float: right;
      display: inline-block;
      vertical-align: top; }
  .section .section__photos {
    clear: both;
    margin-top: 10px; }
    .section .section__photos .section__photos--photo {
      display: inline-block;
      width: calc((100% - 20px) / 3);
      height: auto; }
      .section .section__photos .section__photos--photo.middle {
        margin-left: 10px;
        margin-right: 10px; }

.home .cover {
  width: 100%;
  max-height: 80vh;
  object-fit: cover; }

.home .about, .home .join, .home .contact {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.4; }

.home .about {
  color: #4F4F4F; }

.home .join {
  background: rgba(33, 2, 2, 0.02); }
  .home .join .join__title {
    font-size: 24px;
    color: #9B1919;
    margin-bottom: 15px; }
  .home .join .join__subtitle {
    font-size: 18px;
    font-weight: 600; }
  .home .join .join__text {
    margin-bottom: 15px; }

.home .contact {
  text-align: center; }
  .home .contact .contact__icons {
    display: inline-block;
    height: 25px;
    margin-top: 20px; }
    .home .contact .contact__icons .facebook, .home .contact .contact__icons .youtube, .home .contact .contact__icons .mail {
      height: 100%;
      width: auto;
      margin-left: 10px;
      margin-right: 10px; }
  .home .contact .contact__text {
    text-align: center;
    margin: 20px 0;
    font-size: 18px; }
    .home .contact .contact__text .email {
      color: rgba(121, 0, 0, 0.3);
      text-decoration: underline; }

html, body {
  margin: 0;
  padding: 0; }
