body {
  margin: 0;
  padding: 0; }

.side_menu {
  position: fixed;
  width: 300px; }
  .side_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .side_menu ul li {
      border-bottom: 1px solid #ddd; }
      .side_menu ul li a {
        text-decoration: none; }
        .side_menu ul li a div {
          color: #ffffff;
          padding: 20px;
          background-color: #9b1919;
          font-size: 18px; }
        .side_menu ul li a div:hover {
          background-color: #aa3c3c; }
