.photo__container {
  position: relative;
  width: 30%;
  height: 400px;
  display: inline-block;
  margin-right: 2%;
  vertical-align: top;
  margin-bottom: 1%; }
  @media (max-width: 1150px) {
    .photo__container {
      height: 35%;
      margin-bottom: 0.5%; } }
  @media (max-width: 1000px) {
    .photo__container {
      height: 35%;
      margin-bottom: 3%; } }
  @media (max-width: 905px) {
    .photo__container {
      width: 30%;
      padding-bottom: 3%; } }
  @media (max-width: 800px) {
    .photo__container {
      width: 40%;
      margin-left: 4.5%;
      padding-bottom: 2%;
      margin-top: 3%; } }
  @media (max-width: 500px) {
    .photo__container {
      width: 95%;
      margin-top: 3%;
      margin-bottom: 5%;
      margin-left: 0.020%; } }
  .photo__container .photo {
    display: block;
    position: relative;
    width: 80%;
    float: center;
    margin: 0 auto;
    padding-bottom: 3%; }
  .photo__container .photo__name {
    position: relative;
    text-align: center;
    font-weight: bold; }
  .photo__container .photo__description {
    text-align: center; }

.photogrid {
  margin-left: 5%;
  padding-top: 3%; }

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #FFFFFF;
  color: #333333;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5%; }

h1 {
  font-weight: lighter; }

a {
  font-weight: 500; }
  a:link, a:visited {
    background-image: -webkit-linear-gradient(-45deg, #444444 0%, #444444 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

#red-underline {
  background-color: #db5757;
  height: 2px;
  justify-content: center; }

.cover {
  padding-top: 5%; }

.header {
  display: inline;
  text-align: center;
  justify-content: center;
  width: 30%; }

.faq {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #e2e2e2; }

.faq-text {
  display: flex;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #e2e2e2; }

.about {
  display: flex;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%; }
