.section {
  box-sizing: border-box;
  width: 75%;
  float: right;
  display: inline-block;
  vertical-align: top;
  padding: 30px; }
  .section .section__title .title {
    line-height: 1.4;
    text-transform: uppercase;
    font-size: 36px; }
  .section .section__title .underscore {
    margin-top: 5px;
    width: 125px;
    height: 2px;
    background: #9b1919; }
  .section .section__description {
    margin-top: 10px;
    height: 315px;
    padding-bottom: 10px; }
    .section .section__description .section__description--text {
      width: calc(40% - 15px);
      margin-right: 15px;
      display: inline-block;
      float: left;
      vertical-align: top;
      line-height: 1.4;
      font-size: 18px; }
    .section .section__description .section__description--video {
      width: calc(60% - 15px);
      max-width: 600px;
      height: 100%;
      float: right;
      display: inline-block;
      vertical-align: top; }
  .section .section__photos {
    clear: both; }
    .section .section__photos .section__photos--photo {
      display: inline-block;
      width: calc((100% - 20px) / 3);
      height: auto; }
      .section .section__photos .section__photos--photo.middle {
        margin-left: 10px;
        margin-right: 10px; }
  @media (max-width: 768px) {
    .section {
      padding-top: 0; }
      .section .section__description {
        height: auto; }
        .section .section__description .section__description--text, .section .section__description .section__description--video {
          width: 100%;
          float: none;
          display: block; }
        .section .section__description .section__description--text {
          padding-bottom: 10px; }
        .section .section__description .section__description--video {
          min-height: 275px;
          margin: 0; } }

@media (max-width: 768px) {
  .multimedia .menu-container {
    display: none; }
  .multimedia .section {
    display: block;
    width: 100%;
    float: none; } }
