@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,800");
body {
  font-family: 'Roboto', sans-serif; }

nav {
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  z-index: 2;
  border-bottom: solid 1px #dedede; }

.ftd-logo {
  height: 60px; }

.logo {
  position: absolute;
  left: 0;
  margin-left: 30px; }

.menu {
  margin: 20px 30px;
  position: absolute;
  right: 0;
  font-weight: 300; }

a {
  text-decoration: none;
  margin: 0 10px;
  color: #2d2d2d; }

a:visited {
  color: inherit; }

.selected {
  font-weight: 400; }

.selected:visited {
  color: #9b1919; }
