@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet');
.page-header-container {
  width: 100%;
  text-align: center; }
  .page-header-container .page-header {
    font-family: 'Raleway';
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1.5px solid #9b1919;
    text-transform: uppercase;
    font-weight: 700; }
