.page-header-container {
  width: 100%;
  text-align: center; }
  .page-header-container .page-header {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    border-bottom: 2px solid #9b1919;
    text-transform: uppercase;
    font-weight: 500; }
