.photo__container {
  position: relative;
  width: 30%;
  display: inline-block;
  margin-right: 2%;
  vertical-align: top;
  margin-bottom: 3%; }
  @media (max-width: 1150px) {
    .photo__container {
      height: 35%; } }
  @media (max-width: 1000px) {
    .photo__container {
      height: 35%;
      margin-bottom: 3%; } }
  @media (max-width: 905px) {
    .photo__container {
      width: 30%;
      padding-bottom: 3%; } }
  @media (max-width: 800px) {
    .photo__container {
      width: 40%;
      margin-left: 4.5%;
      padding-bottom: 2%;
      margin-top: 3%; } }
  @media (max-width: 500px) {
    .photo__container {
      width: 95%;
      margin-top: 3%;
      margin-bottom: 5%;
      margin-left: 0.020%; } }
  .photo__container .photo {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3%; }
  .photo__container .photo__name {
    position: relative;
    text-align: center;
    font-weight: bold; }
  .photo__container .photo__description {
    text-align: center;
    font-weight: 300; }

.photogrid {
  margin-left: 5%;
  padding-top: 1.5%; }
