.pic-wrap {
  width: 80%;
  margin-left: 10%;
  display: inline-block; }
  .pic-wrap .pic {
    position: relative;
    display: inline-block;
    height: 880px;
    width: 30%;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 3%;
    object-fit: contain;
    overflow: hidden; }
    .pic-wrap .pic img {
      width: 100%;
      height: 200%; }
  .pic-wrap .desc-name {
    color: black;
    font-size: 18px;
    text-align: center;
    display: inline-block; }
