.menu-container {
  width: 25%;
  min-width: 200px;
  margin-right: 10px; }
  .menu-container .side-menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .menu-container .side-menu-bar li {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ddd; }
      .menu-container .side-menu-bar li a {
        margin: 0;
        padding: 0;
        text-decoration: none; }
        .menu-container .side-menu-bar li a .side-menu-item {
          margin: 0;
          padding: 0;
          color: #ffffff;
          text-transform: uppercase;
          padding: 20px;
          background-color: #9b1919;
          font-size: 18px; }
        .menu-container .side-menu-bar li a .side-menu-item:hover {
          background-color: #aa3c3c; }
